{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('../css/screen.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}


{% block body %}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
                </div>
            </div>

        </div>
{% endblock body %}
